@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-white text-black box-border;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
